@model Models.Entities.Room

@{
    ViewData["Title"] = "Oda Oluştur";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}

<div class="card" id="createRoom">
    <h5 class="card-header">Oda Oluştur</h5>
    <form asp-action="Create" class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row" style="align-items:center">
            <div class="form-group col-6 p-2">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="RoomCapacity" class="control-label"></label>
                <input asp-for="RoomCapacity" class="form-control" />
                <span asp-validation-for="RoomCapacity" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RoomBreakfast" /> @Html.LabelFor(model => model.RoomBreakfast, new { @class = "control-label"})
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="PricePerNight" class="control-label"></label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBalcony" /> @Html.LabelFor(model => model.HasBalcony, new { @class = "control-label"})
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasMinibar" /> @Html.LabelFor(model => model.HasMinibar, new { @class = "control-label"})
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAirConditioning" /> @Html.LabelFor(model => model.HasAirConditioning, new { @class = "control-label"})
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasTV" /> @Html.LabelFor(model => model.HasTV)
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasHairDryer" /> @Html.LabelFor(model => model.HasHairDryer, new { @class = "control-label"})
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasWiFi" /> @Html.LabelFor(model => model.HasWiFi, new { @class = "control-label"})
                </label>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="DataStasus" class="control-label"></label>
                <select asp-for="DataStasus" class="form-control"></select>
                <span asp-validation-for="DataStasus" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="MasterId" class="control-label"></label>
                <input asp-for="MasterId" class="form-control" />
                <span asp-validation-for="MasterId" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="SelectedStatus" class="control-label"></label>
                <select asp-for="SelectedStatus" class="form-control"></select>
                <span asp-validation-for="SelectedStatus" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="UpdatedComputerName" class="control-label"></label>
                <input asp-for="UpdatedComputerName" class="form-control" />
                <span asp-validation-for="UpdatedComputerName" class="text-danger"></span>
            </div>
        </div>
        <div class="pt-6" style="text-align:end;">
            <button type="reset" class="btn btn-outline-secondary waves-effect" asp-action="Index">İptal</button>
            <button type="submit" class="btn btn-primary me-4 waves-effect waves-light" asp-action="Create">Kaydet</button>
        </div>
    </form>
</div>