@model Models.Entities.Room

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomCapacity" class="control-label"></label>
                <input asp-for="RoomCapacity" class="form-control" />
                <span asp-validation-for="RoomCapacity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RoomBreakfast" /> @Html.DisplayNameFor(model => model.RoomBreakfast)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PricePerNight" class="control-label"></label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBalcony" /> @Html.DisplayNameFor(model => model.HasBalcony)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasMinibar" /> @Html.DisplayNameFor(model => model.HasMinibar)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType" class="form-control"></select>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAirConditioning" /> @Html.DisplayNameFor(model => model.HasAirConditioning)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasTV" /> @Html.DisplayNameFor(model => model.HasTV)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasHairDryer" /> @Html.DisplayNameFor(model => model.HasHairDryer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasWiFi" /> @Html.DisplayNameFor(model => model.HasWiFi)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataStasus" class="control-label"></label>
                <select asp-for="DataStasus" class="form-control"></select>
                <span asp-validation-for="DataStasus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterId" class="control-label"></label>
                <input asp-for="MasterId" class="form-control" />
                <span asp-validation-for="MasterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedStatus" class="control-label"></label>
                <select asp-for="SelectedStatus" class="form-control"></select>
                <span asp-validation-for="SelectedStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedComputerName" class="control-label"></label>
                <input asp-for="UpdatedComputerName" class="form-control" />
                <span asp-validation-for="UpdatedComputerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

