@model Models.Entities.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomBreakfast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomBreakfast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBalcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBalcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasMinibar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasMinibar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasTV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasTV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasHairDryer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasHairDryer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasWiFi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasWiFi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStasus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStasus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedComputerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedComputerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
