@model Models.Entities.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}


<div class="card" id="editUser">    
    <h5 class="card-header">Çalışanları Güncelle</h5>
    <form asp-action="Edit" class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.EmployeeFirstName" class="control-label"></label>
                <input asp-for="@Model.EmployeeFirstName" class="form-control" />
                <span asp-validation-for="@Model.EmployeeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.EmployeeLastName" class="control-label"></label>
                <input asp-for="@Model.EmployeeLastName" class="form-control" />
                <span asp-validation-for="@Model.EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.EmployeePhoneNumber" class="control-label"></label>
                <input asp-for="@Model.EmployeePhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.EmployeePhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.EmployeeAddres" class="control-label"></label>
                <input asp-for="@Model.EmployeeAddres" class="form-control" />
                <span asp-validation-for="@Model.EmployeeAddres" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.City" class="control-label"></label>
                <input asp-for="@Model.City" class="form-control" />
                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.Country" class="control-label"></label>
                <input asp-for="@Model.Country" class="form-control" />
                <span asp-validation-for="@Model.Country" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.PostalCode" class="control-label"></label>
                <input asp-for="@Model.PostalCode" class="form-control" />
                <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.HourlyWage" class="control-label"></label>
                <input asp-for="@Model.HourlyWage" class="form-control" />
                <span asp-validation-for="@Model.HourlyWage" class="text-danger"></span>
            </div>
         
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.MonthlyWage" class="form-control"></label>
                <input asp-for="@Model.MonthlyWage" class="form-control" />
                <span asp-validation-for="@Model.MonthlyWage" class="text-danger"></span>
            </div>
                <div class="form-group col-6 p-2">
                <label asp-for="@Model.WeeklyOfDate" class="control-label"></label>
                <input asp-for="@Model.WeeklyOfDate" class="form-control" />
                <span asp-validation-for="@Model.WeeklyOfDate" class="text-danger"></span>
                </div>
                <div class="form-group col-6 p-2">
                <label asp-for="@Model.WeeklyWorkedHours" class="control-label"></label>
                <input asp-for="@Model.WeeklyWorkedHours" class="form-control" />
                <span asp-validation-for="@Model.WeeklyWorkedHours" class="text-danger"></span>
                </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.SelectedStatus" class="control-label"></label>
                <select asp-for="@Model.SelectedStatus" class="form-control">
                    <option value="@Model.SelectedStatus">Inserted</option>
                    <option value="@Model.SelectedStatus">Updated</option>
                    <option value="@Model.SelectedStatus">Deleted</option>
                    <option value="@Model.SelectedStatus">Passive</option>
                    <option value="@Model.SelectedStatus">Active</option>
                </select>
                <span asp-validation-for="@Model.SelectedStatus" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.MasterId" class="control-label"></label>
                <input asp-for="@Model.MasterId" class="form-control" />
                <span asp-validation-for="@Model.MasterId" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.CreatedDate" class="control-label"></label>
                <input asp-for="@Model.CreatedDate" class="form-control" />
                <span asp-validation-for="@Model.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.EntryDate" class="control-label"></label>
                <input asp-for="@Model.EntryDate" class="form-control" />
                <span asp-validation-for="@Model.EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.UpdatedDate" class="control-label"></label>
                <input asp-for="@Model.UpdatedDate" class="form-control" />
                <span asp-validation-for="@Model.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.HasOverTime" class="control-label"></label>
                <input asp-for="@Model.HasOverTime" class="form-check-input" type="checkbox" id="hasOverTimeCheckbox" />
                <span asp-validation-for="@Model.HasOverTime" class="text-danger"></span>
            </div>

            <div class="form-group col-6 p-2">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" class="form-control">
                    <option value="Resepsiyon Görevlisi">Resepsiyon Görevlisi</option>
                    <option value="Temizlik Görevlisi">Temizlik Görevlisi</option>
                    <option value="Ascı">Ascı</option>
                    <option value="Elektirikci">Elektirikci</option>
                    <option value="Garson">Garson</option>
                    <option value="Bilgi Islem Sorumlusu">Bilgi Islem Sorumlusu</option>
                    <option value="Müdür">Müdür</option>
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.ShiftStart" class="control-label"></label>
                <input asp-for="@Model.ShiftStart" class="form-control" />
                <span asp-validation-for="@Model.ShiftStart" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.ShiftEnd" class="control-label"></label>
                <input asp-for="@Model.ShiftEnd" class="form-control" />
                <span asp-validation-for="@Model.ShiftEnd" class="text-danger"></span>
            </div>
            <div class="form-group col-6 p-2">
                <label asp-for="@Model.UpdatedComputerName" class="control-label"></label>
                <input asp-for="@Model.UpdatedComputerName" class="form-control" />
                <span asp-validation-for="@Model.UpdatedComputerName" class="text-danger"></span>
            </div>
        </div>
        <div class="pt-6" style="text-align:end;">
            <button type="reset" class="btn btn-outline-secondary waves-effect" >@Html.ActionLink("Iptal", "Index", "Employees")</button>
            <button type="submit" class="btn btn-primary me-4 waves-effect waves-light" asp-action="Edit" asp-route-id="@Model?.Id">Kaydet</button>
        </div>        
    </form>
</div>

