@model IEnumerable<Models.Entities.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dtEmployees" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAddres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedComputerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        </table>
<!--/ DataTable with Buttons -->
@section Employee {
    <script type="text/javascript">
        $(document).ready(function () {
           $("#dtEmployees").DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true,
                ajax: {
                    url: "/dashboard/Employees/AllEmployees",
                    type: "GET",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    dataSrc : function (object){
                        console.dir(object.data);
                        return object.data;
                    }
                },
                columns: [
                    { 'data':'id'},
                    { 'data': 'employeeFirstName'},
                    { 'data': 'employeeLastName'},
                    { 'data': 'employeePhoneNumber' },
                    {'data':'email'},
                    {'data': 'employeeAddres'},
                    { 'data': 'city' },
                    { 'data': 'country' },
                    { 'data': 'postalCode' },
                    { 'data': 'hourlyWage' },
                    { 'data': 'status' },
                    { 'data': 'masterId' },
                    { 'data': 'createdDate' },
                    { 'data': 'entryDate' },
                    { 'data': 'updatedDate' },
                    { 'data': 'selectedStatus' },
                    { 'data': 'updatedComputerName' },
                    {'data':'id'}
                  
                  

                ],
        columnDefs: [{
                       target:-1,
                       title: 'İşlemler',
                       orderable: false,
                       render: function (data, type, row) {
                   var columnResult = `
                       <div>
                           <span>Güncelle</span><br>
                           <a class="btn btn-primary btn-buy-now waves-effect waves-light" title="Güncelle" href="/Dashboard/Employees/Edit/${data}">Güncelle</a>
                       </div>
                       <div style="margin-top: 5px;">
                           <span>Sil</span><br>
                           <a class="btn btn-danger btn-buy-now waves-effect waves-light" title="Sil" href="/Dashboard/Employees/Delete/${data}">Sil</a>
                       </div>
                   `;
                       return columnResult;
                   },
                   }],
            });
            /*GetRooms();*/
        });

        function DeleteRoom(id)
        {
            console.dir(id);
        }

        function GetRooms() {
            $.ajax({
                url: '/Dashboard/Employess/AllEmployees',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                       console.dir(result.data);
                },
                error: function (err) {
                    console.dir(err.Message);
                }
            });
        }
    </script>
    }
@*         </table>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedComputerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@