@model IEnumerable<Models.Entities.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}


<table id="dtCustomers" class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerIdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPaymentDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedComputerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</table>
<!--/ DataTable with Buttons -->
@section J {
    <script type="text/javascript">
        $(document).ready(function () {
           $("#dtCustomers").DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true,
                ajax: {
                    url: "/Dashboard/Customers/AllCustomers",
                    type: "GET",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    dataSrc : function (object){
                        console.dir(object.data);
                        return object.data;
                    }
                },
                columns: [

                    { 'data': 'firstName' },
                    { 'data': 'lastName' },
                    { 'data': 'email' },
                    { 'data': 'city' },
                    { 'data': 'county' },
                    { 'data': 'postalCode' },
                    { 'data': 'customerPhone' },
                    { 'data': 'customerAddress' },
                    { 'data': 'customerIdentityNumber' },
                    { 'data': 'customerPaymentDetails' },
                    { 'data': 'masterId' },
                    { 'data': 'createdDate' },
                    { 'data': 'entryDate' },
                    { 'data': 'updatedDate' },
                    { 'data': 'selectedStatus' },
                    { 'data': 'updatedComputerName' },
                     { 'data':'id'},


                ],
                    columnDefs: [{
                    target:-1,
                    title: 'İşlemler',
                    orderable: false,
                    render: function (data, type, row) {
                var columnResult = `
                    <div>
                        <span>Güncelle</span><br>
                        <a class="btn btn-primary btn-buy-now waves-effect waves-light" title="Güncelle" href="/Dashboard/Customers/Edit/${data}">Güncelle</a>
                    </div>
                    <div style="margin-top: 5px;">
                        <span>Sil</span><br>
                        <a class="btn btn-danger btn-buy-now waves-effect waves-light" title="Sil" href="/Dashboard/Customers/Delete/${data}">Sil</a>
                    </div>
                `;
                    return columnResult;
                },
                }],
            });
            /*GetRooms();*/
        });

        function DeleteRoom(id)
        {
            console.dir(id);
        }

        function GetRooms() {
            $.ajax({
                url: '/Dashboard/Customers/AllCustomers',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                       console.dir(result.data);
                },
                error: function (err) {
                    console.dir(err.Message);
                }
            });
        }
    </script>
}