@model IEnumerable<Models.Entities.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dtReservations" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentVerification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedComputerName)
            </th>
            <th></th>
        </tr>
    </thead>
    </table>
<!--/ DataTable with Buttons -->
@section Reservations {
    <script type="text/javascript">
        $(document).ready(function () {
           $("#dtReservations").DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true,
                ajax: {
                    url: "/dashboard/Reservations/AllReservation",
                    type: "GET",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    dataSrc : function (object){
                        console.dir(object.data);
                        return object.data;
                    }
                },
                columns: [
                    { 'data': 'checkInDate'},
                    { 'data': 'checkOutDate'},
                    { 'data': 'packageType' },
                    { 'data': 'totalAmount' },
                    { 'data': 'paymentVerification' },
                    { 'data': 'status' },
                    { 'data': 'roomId' },
                    { 'data': 'customerId' },
                    { 'data': 'masterId' },
                    { 'data': 'createdDate' },
                    { 'data': 'entryDate' },
                    { 'data': 'updatedDate' },
                    { 'data': 'selectedStatus' },
                    { 'data': 'updatedComputerName' },
                    { 'data':'id'},



                ],
                     columnDefs: [{
                    target:-1,
                    title: 'İşlemler',
                    orderable: false,
                    render: function (data, type, row) {
                var columnResult = `
                    <div>
                        <span>Güncelle</span><br>
                        <a class="btn btn-primary btn-buy-now waves-effect waves-light" title="Güncelle" href="/Dashboard/Reservations/Edit/${data}">Güncelle</a>
                    </div>
                    <div style="margin-top: 5px;">
                        <span>Sil</span><br>
                        <a class="btn btn-danger btn-buy-now waves-effect waves-light" title="Sil" href="/Dashboard/Reservations/Delete/${data}">Sil</a>
                    </div>
                `;
                    return columnResult;
                },
                }],
            });
            /*GetRooms();*/
        });

        function DeleteRoom(id)
        {
            console.dir(id);
        }

        function GetRooms() {
            $.ajax({
                url: '/Dashboard/Reservations/AllReservation',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                       console.dir(result.data);
                },
                error: function (err) {
                    console.dir(err.Message);
                }
            });
        }
    </script>
    }